/*location.css*/

body
{
background-color:white ;
}
@font-face {
    font-family: Gorditas;
    src: url(media/Gorditas/Gorditas-Regular.ttf);  
}
@font-face {
    font-family: Kurale;
    src: url(media/Kurale/Kurale-Regular.ttf);
}

/*NAVIGATION-BAR*/
nav
{
    font-family: Gorditas;
     display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

a 
{
  color: black;
}

a:hover 
{
background-color: rgb(255, 252, 244);
}

#logo
{
 width: 250px;
 height: 75px;
}

#cheese
{
    height: 90px;
}

#workshop 
{
    float:right;
    height: 475px;
    display:block;
    border: 6px solid rgb(226, 165, 92);
}

#header
{
    text-align: left;
    font-family: Gorditas;
    color:rgb(224, 126, 69);
}

#p1
{
     font-family: Kurale;
    color:rgb(119,179,243);
    font-size: 20px;
}

#p2
{
     font-family: Kurale;
    color:rgb(243,119,167);
    font-size: 50px;
}
